* {
    margin: 0;
    padding: 0;
  }
  
  body{

    color:#000;
    background: linear-gradient(15deg,rgb(100, 100, 192),rgb(182, 183, 235));
    animation: cambioColor 1s ease-in-out infinite;
    /* background-color: rgb(197, 246, 246);
    height: 100%;
    width: 100%; */
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
     /*invierte el eje para que inicie de iz a  derecha */
  }
  section{
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 727;
    font-style: normal;
    font-variation-settings:
      "wdth" 94.3;
    /* height: 70vh; */
    height: 20em;
    width: 50%;
    /* text-align: center; */
   display:flex; 
   flex-wrap: wrap;
  
  /* overflow permite ocultar el contenido que sobrepasa el
   tamaño del conteneror , barra lateral */
  overflow: auto; 
  /* display:flex;  */
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(15deg,rgb(0, 0, 0),rgb(182, 183, 235));
    animation: cambioColor 1s ease-in-out infinite;
  }
  
  #anagram{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  }
  #numPrimo{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    }
  
  
  label{
    font-size: 30px;
    margin: 5px;
  }
  
  input{
    width: 300px;
    height: 30px;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
  }
  .uno {
    background: rgb(210, 229, 177);
    /* display:flex;
    flex:1; */
    text-align: right; 
  } 
  .dos{
    background-color: rgb(163, 239, 239);
    display: flex;
    text-align: center;  
  }
  div{
    height: 50%;
    width: 80%; 
    margin: 10px;
  
    background-color: rgb(104, 96, 96);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
  }
  /* button{
  height: 100px;
  width: 100px;
  border-radius: 10%;
  
  
  } */

  button {
    background: none;
    border: 3px solid;
    font: inherit;
    /* font:initial; */
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
  }
  
  #poligono :first-child{
    background-color: rgb(8, 45, 45);
  }
  
  /* #ladoC {
  
    display:none;
  } */

  #viewFuntion{
    font-style: italic;
    font-size: 90%;
    justify-content: center;
  }
  #intoDiv{
    font-style: italic;
    font-size: 30px;
  }

  #intoDiv1{
    font-style: italic;
    font-size: 100px;
  }
  #intoDiv2{
    font-style: italic;
    font-size: 100px;
  }
  
  #intoDiv3{
    font-style: italic;
    font-size: 60px;
    justify-content: center;
    margin: 20px 0;
  }
 
  .eliminaCaracteres{
  width: 50%;
  } 
  .botonDoble{
   flex-direction: row;   
   justify-content:center;
   width: 100%;
   }
  
  

@keyframes cambioColor {
0%{
background-position: 0% 50%;
}
50%{
  background-position: 100% 50%;
}
100%{
  background-position: 0% 50%;
}

}

/* programacion de efecto boton*/


.raise:hover,
.raise:focus{
box-shadow: 0 1em 1em 0.2em var(--hover);
-webkit-transform: translateY(-0.25em);
  transform:translateY(-0.25em) ;
}

.raise {
  /* --color: #ffa260;
  --hover: #e5ff60; */
  --color: #f6f7f5fa;
  --hover: #3382d2;
}

button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}